a{
    text-decoration: none;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
}

footer {
    margin-top: auto;
    background-color: #202127;
}

header{
    background-color: #202127;
}



/* Базовая стилизация для элементов меню */
.nav_panel {
    position: relative;
    z-index: 1; /* Для корректного наложения фона */
    transition: all 0.3s ease; /* Плавные переходы */
}

/* Псевдоэлемент для фона */
.nav_panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #157347; /* Цвет фона при наведении */
    z-index: -1; /* Чтобы фон был позади текста */
    transition: all 0.3s ease;
    transform: scaleY(0); /* Фон скрыт по умолчанию */
    transform-origin: bottom; /* Точка начала анимации */
}

/* Эффект при наведении */
.nav_panel:hover {
    transform: translateY(-3px); /* Элемент поднимается при наведении */
}

/* Фон заполняется при наведении */
.nav_panel:hover::before {
    transform: scaleY(1); /* Фон отображается полностью */
}

/* Настройка текстового цвета на всякий случай */
.nav_panel:hover {
    color: #fff;
}

.content{
    background-color: #2c2d32;
    height: 490px;
}

.mainContent{
    background-color: #202127;
}

.inputPanel{
    border-color: #157347;
}

.card{
    border: none;
}

.dropdown-menu{
    background-color: #000000;
}

.dropdown-item{
    color: #fff;
}

/* Изменение фона и цвета текста при наведении на пункт меню */
.dropdown-item:hover {
    background-color: #157347; /* Зеленый цвет фона при наведении */
    color: #fff; /* Белый цвет текста */
}


/* Можно добавить эффект плавного перехода при наведении */
.dropdown-item {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.card-cover {
    height: 350px; /* Фиксированная высота карточек */
    background-size: cover;
    background-position: center;
    border-radius: 20px; /* Для плавных углов */
}

.equal-height {
    display: flex;
    flex-direction: column;
}

.equal-height > .col {
    display: flex;
    flex: 1; /* Каждая колонка занимает равное пространство */
}

.backOfLogin {
    position: relative; /* Устанавливаем относительное позиционирование для родительского элемента */
    height: 100vh; /* Убедитесь, что у вас есть высота для фона */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backOfLogin::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный слой для затемнения */
    z-index: 0; /* На заднем плане */
}

.card {
    position: relative; /* Устанавливаем относительное позиционирование для карточки */
    z-index: 1; /* Поверх затемнения */
}
